*{
  padding: 0;
  margin: 0;
  font-family: roboto;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: hidden;
}
.container{
  background: linear-gradient(rgba(0,0,0,0.1), #333), url(https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg);
  width: 100%;
  height: 105vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.hero{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0.1rem 10rem;
}
.van{
  color: white;
  font-size: 16px;
  font-family: arial;
  letter-spacing: 1px;
  background-color: rgb(202, 27, 27);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}
.van:hover{
  opacity: 0.8;
}
.myButton:hover{
  opacity: 0.8;
}
.line{
  text-align: center;
  padding-top: 150px;
  
}
.myButton{
  color: white;
  font-size: 16px;
  font-family: arial;
  letter-spacing: 1px;
  background-color: rgb(202, 27, 27);
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;

}
.line2{
  position: relative;
  margin-top: 1rem;
}
.line2 img{
  height: 25px;

}
.library{
  padding: 1rem 6rem;
  background: linear-gradient(rgba(0,0,0,0.1), #333);
  border: 0.1px solid #efefef;
  font-size: 18px;
  font-family: roboto;
  font-weight: 200;
  outline: none;
  border-radius: 5px;
  margin-right: 1rem;
}
.line p{
  color: white;
  font-size: 28px;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  
}
.line h1{
  color: white;
  font-size: 3rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  font-weight: bold;
}
.contain{
  position: absolute;
  left: 59rem;
  bottom: 0.7rem;
  
}
#services{
  background: #0a0a0a;
  height: 80vh;
  width: 100%;
  background-position: center;
  margin-top: 0.5rem;
  border: 4px solid linear-gradient(rgba(0,0,0,0.5), #333) ;
}
body{
  background: linear-gradient(rgba(0,0,0,0.5), #333) ;
  width: 100%;
}
.services-left{
padding-top: 10rem;
height: 80vh;
text-align: justify;
padding-left: 3rem;

}
.services-leftie{
padding-top: 10rem;
height: 80vh;
text-align: justify;
padding-left: 4rem;
}
.services-leftie h1{
  font-size: 40px;
  letter-spacing: 1px;
  font-family: roboto;
  margin-bottom: 1.3rem;
  font-weight: 800;
  color: #fff;
}
.services-left h1{
  font-size: 40px;
  letter-spacing: 1px;
  font-family: roboto;
  margin-bottom: 1.3rem;
  font-weight: 800;
  color: #fff;
}
.services-leftie p{
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 800;
  width: 550px;
  color: #fff;
}
.services-left p{
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 800;
  width: 550px;
  color: #fff;
}
.services-right{
background-color: black;
height: 80vh;
}
.services-all{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

@media screen and (max-width: 750px ){
  .hero{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0.3rem 2rem;
  }
  .line p{
    color: white;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }
  .line h1{
    color: white;
    font-size: 34px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }
  .services-all{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
  } 
  .library{
    padding: 1rem 6rem;
    background: linear-gradient(rgba(0,0,0,0.1), #333);
    border: 0.1px solid #efefef;
    font-size: 18px;
    font-family: roboto;
    font-weight: 200;
    outline: none;
    border-radius: 5px;
    display: block;
    margin: 1.5rem 3rem;
  }
  .contain{
    position: absolute;
    left: 18rem;
    bottom: 0.4rem;
    }
    .services-leftie p{
      color: white;
      font-size: 20px;
      letter-spacing: 1px;
      width: 400px;
    }
    .services-left p{
      color: white;
      font-size: 20px;
      letter-spacing: 1px;
      width: 400px;
    }
    .services-all{
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 2rem;
    }
    .services-left{
      text-align: start;
      height: 30vh;
      white-space: wrap;
      padding-top: 3rem;
      padding-left: 1.5rem;
    }
    .services-right{
      background-color: black;
      height: 60vh;
      }
    .services-leftie{
      height: 50vh;
      white-space: nowrap;
      padding-top: 1px;
      padding-left: 1.5rem;
    }
    .services-leftie h1{
      font-size: 40px;
      letter-spacing: 1px;
      font-family: roboto;
      margin-bottom: 1.3rem;
      font-weight: 800;
      color: #fff;
    }
    .services-left h1{
      font-size: 50px;
      letter-spacing: 1px;
      font-family: roboto;
      margin-bottom: 1.3rem;
      font-weight: 800;
      color: #fff;
      white-space: nowrap;
      
      
    }
    #services{
      background: #0a0a0a;
      height: 100vh;
      width: 100%;
      background-position: center;
      margin-top: 0.5rem;
      border: 4px solid linear-gradient(rgba(0,0,0,0.5), #333) ;
    }
    .image img{
      height: 55vh;
    }
}
#testimonials{
  background: #0a0a0a;
  height: 130vh;
  width: 100%;
  background-position: center;
  margin-top: 0.5rem;
  border: 4px solid linear-gradient(rgba(0,0,0,0.5), #333) ;
  padding-top: 2em;

}
.hover{
  margin-left: 3rem;
  margin-right: 4rem;
  background: linear-gradient(rgba(0,0,0,0.7), gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  margin-bottom: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
.hover:hover{
  background: linear-gradient(rgba(0,0,0,0.3), #333);
  }
.hover h1{
color: white;
margin-left: 1rem;
}
#testimonials h2{
  color: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 50px;
  text-align: center;
}
.footer{
  height: 30vh;
  text-align: center;
  padding-top: 2rem;
}
.footer p{
  color: white;
  font-size: 28px;
  letter-spacing: 1px;
  margin-bottom: 1rem;

}
#pass{
  background: #0a0a0a;
  height: 50vh;
  width: 100%;
  background-position: center;
  margin-top: 0.5rem;
  border: 4px solid linear-gradient(rgba(0,0,0,0.5), #333) 
}
.overlay{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
  height: 40vh;
  padding-top: 1rem;


}
.target{
  text-align: justify;
  height: 30vh;

}
.target p{
  margin-bottom: 1rem;
  font-size: 20px;
  letter-spacing: 1px;
  color: gray;
  margin-left: 1rem;
  cursor: pointer;
  text-decoration: underline;
}
.hover img{
  height: 35px;
}
.target h1{
  margin-bottom: 1rem;
  letter-spacing: 1px;
  color: gray;
  margin-left: 1rem;
  cursor: pointer;
  text-decoration: underline;
}
select{
  background: transparent;
  border: 1px solid gray;
  padding: 8px 2rem;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  margin: 0;
}
.job{
  text-decoration: none;
}
.target h3{
  margin-top: 1rem;
  font-size: 20px;
  letter-spacing: 1px;
  color: gray;
  margin-left: 1rem;
  cursor: pointer;
}
option{
  background-color: black;
  color: white;
  cursor: pointer;
}
option p{
  cursor: pointer;
}
@media screen and (max-width: 750px){
  #testimonials{
    background: #0a0a0a;
    height: 160vh;
    width: 100%;
    background-position: center;
    margin-top: 0.5rem;
    border: 4px solid linear-gradient(rgba(0,0,0,0.5), #333) ;
    padding-top: 5em;
  
  }
  .hover{
    margin-left: 3rem;
    margin-right: 3rem;
    background: linear-gradient(rgba(0,0,0,0.7), #333);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
  }
  .hover h1{
    color: white;
    margin-left: 1rem;
    font-size: 20px;
    white-space: nowrap;
    }
    
    
    #pass{
      background: #0a0a0a;
      height: 90vh;
      width: 100%;
      background-position: center;
      margin-top: 0.5rem;
      border: 4px solid linear-gradient(rgba(0,0,0,0.5), #333) 
    }
    .overlay{
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 20vh;
      padding-top: 4rem;
      row-gap: 4rem;
    }
    .target h3{
      margin-top: 12rem;
      font-size: 20px;
      letter-spacing: 1px;
      color: gray;
      margin-left: 1rem;
      cursor: pointer;
      }
      select{
        background: transparent;
        border: 1px solid gray;
        padding: 8px 2rem;
        color: white;
        font-size: 18px;
        letter-spacing: 1px;
        outline: none;
        cursor: pointer;
      
      }
}
@media screen and (max-width: 1024px ){

}



  


